<nav>
  <ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/prestations/">Prestations</a></li>
    <li><a href="/rembousement/">Remboursement</a></li>
    <li><a href="/blog/">Blog</a></li>
  </ul>
</nav>
